In [7]:
import pymysql

# connect
db_conn = pymysql.connect(
    host='localhost',
    port=3306,
    user='joohyeong',
    passwd='gang',
    db='blog_db',
    charset='utf8',
)

# cursor 지정
joohyeong_db = db_conn.cursor()
joohyeong_db

In [11]:
# 테이블 수 확인 SQL
sql = 'SHOW TABLES;'

# execute() 메소드로 해당 SQL문 실행
# 테이블 없으니까 0 출력
joohyeong_db.execute(sql)

0

In [12]:
sql = """
CREATE TABLE user_info (
    USER_ID INT UNSIGNED NOT NULL AUTO_INCREMENT,
    USER_EMAIL VARCHAR(100) NOT NULL,
    BLOG_ID CHAR(4),
    PRIMARY KEY(USER_ID)
);
"""

joohyeong_db.execute(sql)
db_conn.commit()

In [13]:
# 테이블 수 확인 SQL
sql = 'SHOW TABLES;'

# 테이블 하나 생성했으니까 1 출력
joohyeong_db.execute(sql)

1

In [22]:
# user_info 테이블 삭제하기

sql = 'DROP TABLE user_info;'
joohyeong_db.execute(sql)
db_conn.commit()

In [23]:
# 테이블 수 확인 SQL
sql = 'SHOW TABLES;'

# 테이블 삭제했으니까 0 출력
joohyeong_db.execute(sql)

0

In [24]:
# 테이블 다시 생성하고 데이터 넣기

### 테이블 생성
sql = """
CREATE TABLE user_info (
    USER_ID INT UNSIGNED NOT NULL AUTO_INCREMENT,
    USER_EMAIL VARCHAR(100) NOT NULL,
    BLOG_ID CHAR(4),
    PRIMARY KEY(USER_ID)
);
"""
joohyeong_db.execute(sql)
db_conn.commit() # 데이터베이스를 변경하는 명령은 commit() 해주기


### 테이블에 데이터 삽입

user_emails = ['bles@kakao.com', 'gang@dgu.ac.kr', 'net_rkd4948@naver.com', 'kamjabat@gmail.com']
blog_ids = ['A', 'B', 'C', 'D']

for user_email, blog_id in zip(user_emails, blog_ids):
    sql = "INSERT INTO user_info (USER_EMAIL, BLOG_ID) VALUES ('%s', '%s')" % (str(user_email), str(blog_id))
    joohyeong_db.execute(sql)
    db_conn.commit()

In [25]:
# fetch: mysql 서버에서 데이터 가져오기
## fetchall(): Fetch all the rows
## fetchmany(size=None): Fetch several rows
## fetchone(): Fetch the next row

# user_info 테이블에서 전체 행 선택 SQL문
sql = "SELECT * FROM user_info"
joohyeong_db.execute(sql)

# 위에서 SELECT한 행들 전부 가져오기
results = joohyeong_db.fetchall()

for result in results:
    print(result, type(result))

(1, 'bles@kakao.com', 'A') <class 'tuple'>
(2, 'gang@dgu.ac.kr', 'B') <class 'tuple'>
(3, 'net_rkd4948@naver.com', 'C') <class 'tuple'>
(4, 'kamjabat@gmail.com', 'D') <class 'tuple'>

In [26]:
# 테이블 행 제거
user_id = 3
sql = "DELETE FROM user_info WHERE USER_ID = %d" % (user_id)
joohyeong_db.execute(sql)
db_conn.commit()

In [30]:
# user_id 3 삭제 후 테이블 다시 조회해보기

# user_info 테이블에서 전체 행 선택 SQL문
sql = "SELECT * FROM user_info"
joohyeong_db.execute(sql)

# 위에서 SELECT한 행들 전부 가져오기
results = joohyeong_db.fetchall()

for result in results:
    print(result, type(result))

(1, 'bles@kakao.com', 'A') <class 'tuple'>
(2, 'gang@dgu.ac.kr', 'B') <class 'tuple'>
(4, 'kamjabat@gmail.com', 'D') <class 'tuple'>

In [31]:
# 데이터베이스 연결 해제

db_conn.close()